table {
	border-spacing: 0;
	min-width: 70vw;
	border: 5px solid #eee;
	border-radius: 4px 4px;
	background-color: #fafafa;
	color: #090909;
}

tr {
	cursor: default;
}

thead {
	background-color: #282c34;
	color: #eee;
}

tbody tr:hover {
	background-color: #aaa!important;
}

tr:nth-child(even) {
	background-color: #dadada;
}

td {
	padding: 6px;
}

tfoot td {
	text-align: center;
}

.Acoes {
	text-align: right;
}
