table {
	border-spacing: 0;
	min-width: 70vw;
}

tr {
	cursor: default;
}

tbody tr:hover {
	background-color: #555!important;
}

tr:nth-child(even) {
	background-color: #39393f;
}

td {
	padding: 6px;
}

.Acoes {
	text-align: right;
}
